/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
**/frontend/public/**/*
!.gitkeep
/var/
/vendor/
**/node_modules/
/node_modules/
npm-debug.log
yarn-error.log
.php-version
**/__pycache__/
/__pycache__/
*__py_cache*
*.py[cod]
*.pytest_cache*
**.bash_history
media/**/*
!.gitkeep
app/*.log
**/webpack-stats.json
bijlagen/**/*
