.page__beheer {
    padding-top: 0.5rem;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: 2rem;
    }

    h1 {
        small {
            font-size: 1rem;
        }
    }

    .alert {
        margin-bottom: 2rem;
    }
    .btn {
        height: 48px;
        svg {
            vertical-align: sub;
        }
    }

    a.link--back {
        margin-left: 30px;
        min-height: 1em;

        svg {
            left: -30px;
            path {
                fill: $green-tint01;
            }
        }
    }

    .form-control + .help-block:not(.invalid-text) {
        margin-top: -1.5rem;
    }

    .pagetitle,
    h2 {
        margin-bottom: 0.25em;

        + .release-date {
            margin-top: 0;
        }
    }

    .pagetitle {
        margin-top: 0;
    }

    .container__flex {
        @media (min-width: map-get($grid-breakpoints, md)) {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            + .alert {
                margin-top: -32px;
            }
        }
        margin: 32px 0;

        > * {
            flex: 1;
        }

        h1 {
            margin-top: 0;
        }
        .btn {
            max-width: 200px;
            height: 48px;
        }

        &.flex--end {
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    fieldset .container__flex {
        margin-top: 0;
    }
    ul.list--images {
        margin: 0 -16px;
        li {
            img {
                max-width: map-get($container-max-widths, lg);
                width: 100%;
            }
        }
    }

    table tbody {
        th,
        td {
            text-align: left;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .icon--close {
            path {
                fill: $danger;
            }
        }
        .icon--checkmark {
            width: 20px;
            height: 20px;
            path {
                fill: $primary;
            }
        }
    }

    form:not(.full-width) {
        max-width: map-get($container-max-widths, md);
        margin: 0 auto;
    }
    .btn-row {
        display: flex;
        justify-content: flex-end;

        .btn {
            flex: 0 1;
            margin-left: 1rem;
        }
    }

    .container__userlist {
        background-color: $gray-tint02;
        padding: $alert-padding-x;

        h2 {
            margin-top: 0;
        }
    }

    li {
        &.list-item {
            border-bottom: 1px solid $gray-tint04;
            padding-bottom: 1rem;

            &.inactive {
                * {
                    opacity: 0.8;
                }
            }
            > .description {
                margin-top: 0;
                margin-bottom: 0;
                > a {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                small {
                    a {
                        display: block;
                    }
                }
            }
        }
    }

    .container__table {
        width: 100%;
        overflow-x: auto;
    }

    .container__hideables {
        .task--hideable {
            margin-bottom: 2rem;
            padding: 1rem;
            background-color: $gray-tint01;
            &.hide {
                display: none;
            }

            .btn {
                max-width: none;
            }

            .form-row {
                margin-bottom: 0;
            }

            input[type="checkbox"] {
                @include form-check-input;
                margin-right: 5px;
                vertical-align: bottom;
            }
        }

        .btn-textlink {
            max-width: none;
            text-align: left;
            &.hide {
                display: none;
            }
        }
    }
    .container__example--task {
        margin-bottom: 2rem;

        .example--task {
            display: block;
            width: 270px;
            margin-bottom: 0.5em;
        }
        .icon-preview {
            vertical-align: middle;
            max-width: 32px;
        }
    }
}

.container__explained {
    padding-bottom: 1em;

    .container__image {
        position: relative;
        background-color: $gray-tint01;
        max-height: 388px;
        img {
            display: block;
            margin: 0 auto;
            max-height: 388px;
        }
    }

    .icon--positive,
    .icon--negative {
        position: absolute;
        top: $input-padding-y;
        left: $input-padding-y;
        width: 30px;
        height: 30px;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 20px;
        box-sizing: border-box;
        border: 1px solid $gray-tint04;

        @media (min-width: map-get($grid-breakpoints, md)) {
            width: 60px;
            height: 60px;
            background-size: 40px;
        }
    }

    .icon--positive {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCA1NSA0MyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBjbGFzcz0iaWNvbi0tY2hlY2ttYXJrIj4KPHBhdGggZD0iTTQ5LjY0MzkgMC4wNDI3MjQ2TDIzLjA0NjggMzMuMjg0NUw0Ljk2Mzk3IDExLjI4NDRMMC4zMTczODMgMTUuMDc5OEwyMy4wOTY1IDQyLjgyNjFMNTQuMzI4OCAzLjc5Mjk1TDQ5LjY0MzkgMC4wNDI3MjQ2WiIgZmlsbD0iIzAwODExRiIvPgo8L3N2Zz4K");
    }

    .icon--negative {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBjbGFzcz0iaWNvbi0tY2xvc2UiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE0Ljg5NDIgMTUuOTU1TDE1Ljk1NDggMTQuODk0M0w5LjA2MDUzIDhMMTUuOTU0OCAxLjEwNTcxTDE0Ljg5NDIgMC4wNDUwNTI1TDcuOTk5ODcgNi45MzkzNEwxLjEwNTU4IDAuMDQ1MDUxNkwwLjA0NDkyMzQgMS4xMDU3MUw2LjkzOTIxIDhMMC4wNDQ5MjE5IDE0Ljg5NDNMMS4xMDU1OCAxNS45NTVMNy45OTk4NyA5LjA2MDY2TDE0Ljg5NDIgMTUuOTU1WiIgZmlsbD0iI0NFNEMzQiIvPgo8L3N2Zz4K");
    }
}
