<div class="modal modal--images"
     data-detail-target="modalImages"
     id="imageModal">
    <div class="modal-backdrop modal-exit"
         id="modal-backdrop"
         data-action="click->detail#closeModal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        aria-label="Sluit"
                        data-action="modal#closeModal"></button>
            </div>
            <div class="modal-body">
                <div class="container__image">
                    <img class="image" data-detail-target="selectedImageModal" src="" alt="" />
                </div>
                <div class="image-counter" data-detail-target="imageCounter"></div>
                <div class="container__navigate-images">
                    <div class="navigate-images--left inactive"
                         data-detail-target="navigateImagesLeft"
                         data-action="click->detail#showPreviousImageInModal">
                        <span aria-label="Bekijk vorige afbeelding">{% include "icons/arrow-right.svg" %}</span>
                    </div>
                    <div class="navigate-images--right inactive"
                         data-detail-target="navigateImagesRight"
                         data-action="click->detail#showNextImageInModal">
                        <span aria-label="Bekijk volgende afbeelding">{% include "icons/arrow-right.svg" %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
