{% load webpack_static from webpack_loader %}
{% load gebruikersnaam from gebruikers_tags %}
<header class="pageheader"
        data-testid="pageHeader"
        data-controller="pageHeader modal">
    <div class="container">
        <div class="container__logo">
            <a href="{% url 'root' %}">
                <img src="{% webpack_static 'images/logo-organisatie.svg' %}"
                     alt="Logo organisatie"
                     class="logo logo--large" />
                <img src="{% webpack_static 'images/logo-organisatie-klein.svg' %}"
                     alt="Logo organisatie"
                     class="logo logo--small" />
            </a>
            {% if page_title %}<h1 class="pagetitle h2">{{ page_title }}</h1>{% endif %}
        </div>
        <button class="btn btn-togglemenu"
                data-action="modal#openModal"
                data-modal-type-param="navigation"
                aria-expanded="false"
                aria-label="Open menu">
            <svg fill="#404B4F"
                 height="32"
                 viewBox="0 0 32 32"
                 width="32"
                 xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true"
                 aria-label="Open menu">
                <g>
                <path d="m4 6h24v2h-24z"></path>
                <path d="m4 15h24v2h-24z"></path>
                <path d="m4 24h24v2h-24z"></path>
                </g>
            </svg>
        </button>
    </div>
    <div class="modal modal-navigation">
        <div class="modal-dialog">
            <div class="modal-backdrop modal-exit"
                 data-action="click->modal#closeModal"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="btn-close"
                            aria-label="Sluit"
                            data-action="modal#closeModal"></button>
                </div>
                <div class="modal-body">
                    {% if request.user.is_authenticated %}
                        <ul class="list-clean list-nav--tertiary">
                            {% comment %}
                        Disabled until new homepage design has been made
                        <li class="wrapper-horizontal">
                            <a href="{% url 'home' %}">Homepagina</a>
                        </li>
                            {% endcomment %}
                            <li class="wrapper-horizontal">
                                <a href="{% url 'taken' %}">Taken</a>
                            </li>
                        </ul>
                        {% include "snippets/form_pageheader.html" %}
                    {% else %}
                        <ul class="list-clean list-nav--tertiary">
                            <li class="wrapper-horizontal">
                                <a href="{{ LOGIN_URL }}" target="_top">
                                    <svg width="20"
                                         height="20"
                                         viewBox="0 0 32 32"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17 5H6V27H17V25H8V7H17V5ZM21.207 22.606L27.8633 15.9497L21.207 9.29338L19.7927 10.7076L24.0349 14.9497H12.5496V16.9497H24.0349L19.7927 21.1918L21.207 22.606Z" fill="#9DAFB6" />
                                    </svg>
                                    Inloggen
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
