{% extends "base_beheer.html" %}
{% block title %}
    Beheer | TaakR
{% endblock title %}
{% block body %}
    <h1>Beheer</h1>
    <ul class="list--blocks-horizontal">
        <li>
            <a href="{% url 'taaktype_beheer' %}">Taaktypes</a>
        </li>
    </ul>
    <h2>Andere Forzamor beheer productie omgevingen</h2>
    <ul class="list--blocks-horizontal">
        <li>
            <a href="https://planr.forzamor.nl/beheer">PlanR</a>
        </li>
        <li>
            <a href="https://onderwerpen.forzamor.nl/beheer">Onderwerpen</a>
        </li>
    </ul>
{% endblock body %}
