{% extends "base_beheer.html" %}
{% block title %}
    Taaktype | Beheer | TaakR
{% endblock title %}
{% block body %}
    <h1>Taaktype beheer</h1>
    <ul class="list--blocks-horizontal">
        <li>
            <a href="{% url 'taaktype_lijst' %}">Taaktypes</a>
        </li>
        <li>
            <a href="{% url 'afdeling_lijst' %}">Afdelingen</a>
        </li>
        <li>
            <a href="{% url 'taaktypemiddel_lijst' %}">Taaktype materieel</a>
        </li>
    </ul>
{% endblock body %}
