{% extends "base_beheer.html" %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    Afdeling aanmaken | Beheer | TaakR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'afdeling_lijst' %}" class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Afdelingen
            </a>
        </div>
        <h1>Afdeling aanmaken</h1>
        <div class="grid-container">
            <div class="grid-item">
                <form action="."
                      method="post"
                      class="form--beheer full-width"
                      enctype="multipart/form-data">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <fieldset>
                        {{ form.naam|render_rotterdam_formulier }}
                        {{ form.onderdeel|render_rotterdam_formulier }}
                    </fieldset>
                    <div data-controller="bijlagen" class="has-button-fullwidth">
                        <h3 class="h5">Icoon</h3>
                        {{ form.icoon|render_rotterdam_formulier }}
                        <div class="container__example--task">
                            {% if form.instance.icoon %}
                                Huidig icoon:
                                <img class="icon-preview" src="{{ form.instance.icoon.url }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row btn-row">
                        <button type="reset"
                                class="btn btn-tertiary"
                                data-controller="utils"
                                data-action="utils#goToUrl"
                                data-utils-url-param="{% url 'afdeling_lijst' %}">
                            <span>Annuleren</span>
                        </button>
                        <button type="submit" class="btn btn-action">
                            <span>Aanmaken</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
