{% load rotterdam_formulier_html %}
<div class="task--hideable {% if not voorbeeldsituatie.instance.id and count != 1 %}hide{% endif %}">
    <div class="hidden-fields">
        {{ voorbeeldsituatie.id }}
        {{ voorbeeldsituatie.type }}
    </div>
    <h2 class="h4">
        De taak is
        {% if do %}
            wel
        {% else %}
            niet
        {% endif %}
        relevant: voorbeeldsituatie {{ count }}
    </h2>
    {{ voorbeeldsituatie.toelichting|render_rotterdam_formulier }}
    {% if not voorbeeldsituatie.bijlage_formset.0 %}
        <div data-controller="bijlagen">{{ voorbeeldsituatie.bestand|render_rotterdam_formulier }}</div>
    {% endif %}
    <fieldset>
        {{ voorbeeldsituatie.bijlage_formset.management_form }}
        {% for form in voorbeeldsituatie.bijlage_formset %}
            <div class="container__example--task">
                {% if form.instance.afbeelding %}
                    <img class="example--task" src="{{ form.instance.afbeelding.url }}" />
                {% elif form.instance.bestand %}
                    <img class="example--task" src="{{ form.instance.bestand.url }}" />
                {% else %}
                    form.instance.bestand
                {% endif %}
                <label>{{ form.DELETE }} Verwijder bestand</label>
                {{ form.id }}
            </div>
        {% endfor %}
        <p>
            {% if voorbeeldsituatie.DELETE %}<label>{{ voorbeeldsituatie.DELETE }}Verwijder dit voorbeeld</label>{% endif %}
        </p>
    </fieldset>
</div>
