{% load webpack_static from webpack_loader %}
<li class="title-image editable">
    <a href="{% url 'taaktype_detail' taaktype.id %}">
        <div class="container__title">
            {% if taaktype.icoon %}<img alt="" src="{{ taaktype.icoon.url }}" />{% endif %}
            <h3 class="title">{{ taaktype.omschrijving }}</h3>
        </div>
        <div class="container__image">
            {% if taaktype.voorbeeldsituatie_wel_bijlage %}
                <img alt="{{ taaktype.omschrijving }}"
                     src="{{ taaktype.voorbeeldsituatie_wel_bijlage.afbeelding.url }}" />
            {% else %}
                <img alt="{{ taaktype.omschrijving }}"
                     class="no-image"
                     src="{% webpack_static 'icons/noimage.svg' %}" />
            {% endif %}
        </div>
        <div class="container__badges">
            {% if taaktype.afdelingen.all|length > 0 %}
                <ul class="list-tags">
                    {% for afdeling in taaktype.afdelingen.all %}
                        <li>
                            <span class="badge badge--green">{{ afdeling.naam }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </a>
    {% if editable %}
        <a href="{% url 'taaktype_aanpassen' taaktype.id %}" class="icon--edit">{% include "icons/edit.svg" %}</a>
    {% endif %}
</li>
