{% load webpack_static from webpack_loader %}
<li class="title-image editable" data-row-search-target="row">
    <a href="{% url 'taaktype_detail' taaktype.id %}" title="{{ taaktype.omschrijving }}">
        <div class="container__title">
            {% if taaktype.icoon %}<img alt="" src="{{ taaktype.icoon.url }}" />{% endif %}
            <h3 class="title word-break-word" data-row-search-target="searchable">{{ taaktype.omschrijving }}</h3>
        </div>
        <div class="container__image">
            {% if taaktype.voorbeeld_wel %}
                <img alt="{{ taaktype.omschrijving }}"
                     src="{% if taaktype.voorbeeld_wel.afbeelding %}{{ taaktype.voorbeeld_wel.afbeelding.url }}{% else %}{{ taaktype.voorbeeld_wel.bestand.url }}{% endif %}" />
            {% else %}
                <img alt="{{ taaktype.omschrijving }}"
                     class="no-image"
                     src="{% webpack_static 'icons/noimage.svg' %}" />
            {% endif %}
        </div>
        <div class="container__badges">
            {% if taaktype.afdelingen.all|length > 0 %}
                <ul class="list-tags">
                    {% for afdeling in taaktype.afdelingen.all %}
                        <li>
                            <span class="badge badge--green" data-row-search-target="searchable">{{ afdeling.naam }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </a>
    {% if editable %}
        <a href="{% url 'taaktype_aanpassen' taaktype.id %}" class="icon--edit">{% include "icons/edit.svg" %}</a>
    {% endif %}
</li>
