{% extends "base_beheer.html" %}
{% load webpack_static from webpack_loader %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    {% if object %}
        Taaktype '{{ object.omschrijving }}' aanpassen
    {% else %}
        Taaktype aanmaken
    {% endif %}
    | FixeR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Taaktypes
            </a>
        </div>
        {% if object %}
            <h1>Taaktype '{{ object.omschrijving }}' aanpassen</h1>
        {% else %}
            <h1>Taaktype aanmaken</h1>
        {% endif %}
        <div class="grid-container">
            <div class="grid-item">
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="alert alert--warning">
                        <span>
                            <svg width="32"
                                 height="32"
                                 viewBox="0 0 32 32"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0001 6.21851L26.6516 26L5.34849 26L16.0001 6.21851ZM14.2391 5.2703C14.9943 3.8679 17.0059 3.86791 17.761 5.27031L28.4126 25.0518C29.13 26.3843 28.165 28 26.6516 28H5.34849C3.83514 28 2.87007 26.3842 3.58755 25.0518L14.2391 5.2703ZM15.0001 12H17.0001V20H15.0001V12ZM15.0001 24V22H17.0001V24H15.0001Z" fill="#A65600" />
                            </svg>
                        </span>
                        <div>
                            <p>Let op: het wijzigen van dit taaktype heeft gevolgen voor alle rollen die gebruik maken van dit taaktype.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if object.contexten_voor_taaktypes.all %}
                    <div class="container__userlist">
                        <h2 class="h3">Rollen die gebruikmaken van dit taaktype</h2>
                        <ul class="list-clean">
                            {% for context in object.contexten_voor_taaktypes.all %}<li>{{ context.naam }}</li>{% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <form action="."
              method="post"
              class="form--beheer full-width"
              enctype="multipart/form-data"
              data-controller="taaktypeformulier"
              data-taaktypeformulier-target="formTaaktype">
            {% csrf_token %}
            <fieldset class="section">
                <legend>Basisinformatie</legend>
                <div class="container__flex">
                    <div>
                        {{ form.omschrijving|render_rotterdam_formulier }}
                        {{ form.toelichting|render_rotterdam_formulier }}
                        {{ form.taaktypemiddelen|render_rotterdam_formulier }}
                    </div>
                    <div>
                        {{ form.afdelingen|render_rotterdam_formulier }}
                        {{ form.verantwoordelijke|render_rotterdam_formulier }}
                        <div data-controller="bijlagen" class="has-button-fullwidth">
                            <h3 class="h5">Icoon</h3>
                            {{ form.icoon|render_rotterdam_formulier }}
                            <div class="container__example--task">
                                {% if form.instance.icoon %}
                                    Huidig icoon:
                                    <img class="icon-preview" src="{{ form.instance.icoon.url }}" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="container__checkbox--single form-row">
                            <h3 class="label">
                                Is dit taaktype actief? <small>(Niet verplicht)</small>
                            </h3>
                            {{ form.actief|render_rotterdam_formulier }}
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Wanneer selecteer je dit taaktype?</legend>
                <div class="container__flex container__hideables">
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldWel">
                        <label class="label--positive">Wanneer is de taak relevant?</label>
                        {{ voorbeeldsituatie_wel.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_wel %}
                            {% if forloop.counter0 < 5 %}
                                {% comment %} check id om class te zetten voor wel of niet zichtbaar {% endcomment %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=True %}
                            {% endif %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small>U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldNiet">
                        <label class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</label>
                        {{ voorbeeldsituatie_niet.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_niet %}
                            {% if forloop.counter0 < 5 %}
                                {% include "taken/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=False %}
                            {% endif %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small class="margin-bottom">U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Gerelateerd aan dit taaktype</legend>
                <div class="container__flex">
                    {{ form.volgende_taaktypes|render_rotterdam_formulier }}
                    {{ form.gerelateerde_onderwerpen|render_rotterdam_formulier }}
                </div>
                <div class="container__flex">
                    {{ form.gerelateerde_taaktypes|render_rotterdam_formulier }}
                    <div>&nbsp;</div>
                </div>
            </fieldset>
            <div class="form-row container__button">
                <div class="form-row btn-row">
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-controller="utils"
                            data-action="utils#goToUrl"
                            data-utils-url-param="{% url 'taaktype_lijst' %}">
                        <span>Annuleren</span>
                    </button>
                    <button type="submit" class="btn btn-action">
                        <span>Aanpassen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
