{% extends "base_beheer.html" %}
{% load json_encode from main_tags %}
{% block title %}
    Taaktypes | TaakR
{% endblock title %}
{% block body %}
    {% block messages %}
        {% if messages %}
            <div class="messages-container" data-controller="messages">
                <div class="wrapper">
                    <ul class="messages">
                        {% for message in messages %}<li class="message message-{{ message.tags }}">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock messages %}
    <div class="page__beheer" data-controller="row-search">
        <div class="container__flex">
            <h1>Taaktypes</h1>
            {% if editable %}
                {% for applicatie in applicaties %}
                    {% if applicatie.taaktype_aanmaken_formulier_url %}
                        <a class="btn btn-action"
                           href="{{ applicatie.basis_url }}{{ applicatie.taaktype_aanmaken_formulier_url }}?redirect_url={{ ABSOLUTE_ROOT }}{% url 'taaktype_aanmaken' %}?taaktype_url=">
                            <svg width="24"
                                 height="24"
                                 viewBox="0 0 32 32"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 6H15V15H6V17H15V26H17V17H26V15H17V6Z" fill="#ffffff"></path>
                            </svg>
                            Nieuw taaktype in {{ applicatie.naam }}
                        </a>
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <form>
            <div class="form-row">
                <label for="id_zoeken">Zoeken op titel of afdeling</label>
                <div>
                    <input type="text"
                            id="id_zoeken"
                            name="zoeken"
                            class="form-control"
                            data-action="row-search#search">
                </div>
                <span data-row-search-target="resultCount"></span>
            </div>
        </form>
        <ul class="list-clean">
            {% for onderdeel in afdeling_onderdelen %}
                <li>
                    <h2 class="color--primary">{{ onderdeel.0 }}</h2>
                    <ul class="list-blocks--title-images">
                        {% for taaktype in onderdeel.1 %}
                            {% include "taaktypes/taaktype_tile.html" with taaktype=taaktype editable=editable only %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <h2 class="color--primary">Nog niet ingedeeld</h2>
        <ul class="list-blocks--title-images">
            {% for taaktype in zonder_afdeling %}
                {% include "taaktypes/taaktype_tile.html" with taaktype=taaktype editable=editable only %}
            {% endfor %}
        </ul>
        <h2 class="color--primary">Niet actief</h2>
        <ul class="list-blocks--title-images">
            {% for taaktype in niet_actief %}
                {% include "taaktypes/taaktype_tile.html" with taaktype=taaktype editable=editable only %}
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
