{% extends "base_beheer.html" %}
{% load webpack_static from webpack_loader %}
{% load render_onderwerp from melding_tags %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    {% if object %}
        Taaktype '{{ object.omschrijving }}'
    {% else %}
        Taaktype
    {% endif %}
    | TaakR
{% endblock title %}
{% block body %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Taaktypes
            </a>
        </div>
        <section class="section--seperated">
            <h1 class="h2">{{ taaktype.omschrijving }}</h1>
            <p>
                {% if taaktype.toelichting %}
                    {{ taaktype.toelichting }}
                {% else %}
                    Nog niet ingevuld
                {% endif %}
            </p>
        </section>
        <section class="section--seperated">
            <div class="container__flex">
                <div>
                    <h2 class="h5">Verantwoordelijke afdeling</h2>
                    <p>
                        {% if taaktype.verantwoordelijke_afdeling %}
                            {{ taaktype.verantwoordelijke_afdeling }}
                        {% else %}
                            Nog niet ingevuld
                        {% endif %}
                    </p>
                    <h2 class="h5">Uitvoerende afdelingen</h2>
                    <p>
                        {% for afdeling in taaktype.afdelingen.all %}
                            {{ afdeling.naam }}
                            {% if taaktype.afdelingen.all|length != forloop.counter %},{% endif %}
                        {% endfor %}
                    </p>
                    <h2 class="h5">Doorlooptijd</h2>
                    <p>
                        {% if taaktype.doorlooptijd %}
                            {% spaceless %}
                                <span data-controller="dagen-uren" data-dagen-uren-target="periode">{{ taaktype.doorlooptijd }}</span>
                                {% if taaktype.doorlooptijd_alleen_werkdagen %}<span>. Alleen op werkdagen.</span>{% endif %}
                            {% endspaceless %}
                        {% else %}
                            Nog niet ingevuld
                        {% endif %}
                    </p>
                </div>
                <div>
                    {% if perms.authorisatie.taaktype_bekijken %}
                        <h2 class="h5">Verantwoordelijke medewerker</h2>
                        {% if taaktype.verantwoordelijke_persoon_naam %}
                            <p class="word-break-word">{{ taaktype.verantwoordelijke_persoon_naam }}</p>
                        {% else %}
                            Nog niet ingevuld
                        {% endif %}
                        <h2 class="h5">Personeelsnummer verantwoordelijke medewerker</h2>
                        {% if taaktype.verantwoordelijke_persoon_personeelsnummer %}
                            <p class="word-break-word">{{ taaktype.verantwoordelijke_persoon_personeelsnummer }}</p>
                        {% else %}
                            Nog niet ingevuld
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="section--seperated">
            <div class="container__badges--overview">
                {% if taaktype.gerelateerde_onderwerpen|length > 0 %}
                    <div>
                        <h2 class="h5">Gerelateerde onderwerpen</h2>
                        <ul class="list-tags">
                            {% for onderwerp in taaktype.gerelateerde_onderwerpen %}
                                <li>
                                    <span class="badge badge--green">{% render_onderwerp onderwerp %}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if taaktype.taaktypemiddelen.all|length > 0 %}
                    <div>
                        <h2 class="h5">Benodigd materiaal</h2>
                        <ul class="list-tags">
                            {% for middel in taaktype.taaktypemiddelen.all %}
                                <li>
                                    <span class="badge badge--green">{{ middel.naam }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="section--seperated display-flex--2cols-md">
            <div class="border--gray-shadowed margin-bottom">
                <h2 class="label--positive">Wanneer is de taak relevant?</h2>
                <ul class="list-clean margin-bottom">
                    {% for voorbeeldsituatie in object.voorbeeldsituatie_voor_taaktype.all %}
                        {% include "taaktypes/voorbeeldsituatie_tile.html" with voorbeeldsituatie=voorbeeldsituatie type="waarom_wel" only %}
                    {% endfor %}
                </ul>
            </div>
            <div class="border--gray-shadowed margin-bottom">
                <h2 class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</h2>
                <ul class="list-clean margin-bottom">
                    {% for voorbeeldsituatie in object.voorbeeldsituatie_voor_taaktype.all %}
                        {% include "taaktypes/voorbeeldsituatie_tile.html" with voorbeeldsituatie=voorbeeldsituatie type="waarom_niet" only %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section>
            <h2 class="color--primary">Vervolgtaken</h2>
            <ul class="list-blocks--title-images">
                {% for taaktype in object.volgende_taaktypes.all %}
                    {% include "taaktypes/taaktype_tile.html" with taaktype=taaktype editable=editable only %}
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2 class="color--primary">Gerelateerde taken</h2>
            <ul class="list-blocks--title-images">
                {% for taaktype in object.gerelateerde_taaktypes.all %}
                    {% include "taaktypes/taaktype_tile.html" with taaktype=taaktype editable=editable only %}
                {% endfor %}
            </ul>
        </section>
        <section class="padding-bottom-2x">
            <h2 class="color--primary">Links</h2>
            {% if object.links_voor_taaktype.all|length %}
                <ul class="list-clean cols3-md">
                    {% for link in object.links_voor_taaktype.all %}
                        <li class="padding-bottom-half" data-controller="utils">
                            <a href="{{ link.url }}"
                               class="link--external"
                               data-utils-target="link"
                               {% if link.open_in_nieuwe_tab %}target="_blank"{% endif %}>
                                {{ link.titel }}
                                {% include "icons/external-link.svg" %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Geen gerelateerde links</p>
            {% endif %}
        </section>
    </div>
{% endblock body %}
