{% extends "base_beheer.html" %}
{% load webpack_static from webpack_loader %}
{% load rotterdam_formulier_html %}
{% load json_encode from main_tags %}
{% block title %}
    {% if object %}
        Taaktype '{{ object.omschrijving }}' aanpassen
    {% else %}
        Taaktype aanmaken
    {% endif %}
    | TaakR
{% endblock title %}
{% block body %}
    {% block messages %}
        {% if messages %}
            <div class="messages-container" data-controller="messages">
                <div class="wrapper">
                    <ul class="messages">
                        {% for message in messages %}<li class="message message-{{ message.tags }}">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endblock messages %}
    <div class="page__beheer">
        <div>
            <a href="{% url 'taaktype_lijst' %}"
               data-turbo-action='advance'
               class="link--back">
                <svg width="25"
                     height="16"
                     viewBox="0 0 25 16"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.15173 1.73256L7.73753 0.318359L1.44704 6.60885L1.4142 6.576L0 7.9902L1.4115 9.4017L1.37867 9.43453L7.67186 15.7277L9.08606 14.3135L3.7726 9.00006H24.0098V7.00006H3.88423L9.15173 1.73256Z" fill="#404B4F" />
                </svg>
                Taaktypes
            </a>
        </div>
        {% if object %}
            <h1>Taaktype '{{ object.omschrijving }}' aanpassen</h1>
        {% else %}
            <h1>Taaktype aanmaken</h1>
        {% endif %}
        <form action="."
              method="post"
              class="form--beheer full-width"
              enctype="multipart/form-data"
              data-controller="taaktypeformulier"
              novalidate
              data-taaktypeformulier-target="formTaaktype">
            {% csrf_token %}
            <fieldset class="section">
                <legend>{{ object.taakapplicatie.naam }} basisinformatie</legend>
                <div class="container__flex">
                    <dl class="dl--horizontal width-dt-150">
                        <div>
                            <dt>Titel</dt>
                            <dd>
                                {% if object.omschrijving %}
                                    {{ object.omschrijving }}
                                {% else %}
                                    Nog niet opgegeven in {{ object.taakapplicatie.naam }}
                                {% endif %}
                            </dd>
                        </div>
                        <div>
                            <dt>Omschrijving</dt>
                            <dd>
                                {% if object.toelichting %}
                                    {{ object.toelichting }}
                                {% else %}
                                    Nog niet opgegeven in {{ object.taakapplicatie.naam }}
                                {% endif %}
                            </dd>
                        </div>
                        <div>
                            <dt>Is actief</dt>
                            <dd>
                                {% if object.actief %}
                                    Ja
                                {% else %}
                                    Nee
                                {% endif %}
                            </dd>
                        </div>
                    </dl>
                    <a href="{{ object.taakapplicatie.basis_url }}/beheer/taaktype/aanmaken/?taaktype_url={{ object.taakapplicatie_taaktype_url }}"
                       class="btn btn-action">
                        <span>Aanpassen in {{ object.taakapplicatie.naam }}</span>
                    </a>
                </div>
                <legend>Basisinformatie</legend>
                <div class="container__flex">
                    <div>
                        {% comment %} {{ form.omschrijving|render_rotterdam_formulier }}
                        {{ form.toelichting|render_rotterdam_formulier }} {% endcomment %}
                        {{ form.taaktypemiddelen|render_rotterdam_formulier }}
                    </div>
                    <div>
                        <div data-controller="bijlagen" class="has-button-fullwidth">
                            <h3 class="h5">Icoon</h3>
                            {{ form.icoon|render_rotterdam_formulier }}
                            <div class="container__example--task">
                                {% if form.instance.icoon %}
                                    Huidig icoon:
                                    <img class="icon-preview" src="{{ form.instance.icoon.url }}" alt="" />
                                {% endif %}
                            </div>
                        </div>
                        {% comment %} <div class="container__checkbox--single form-row">
                            <h3 class="label">
                                Is dit taaktype actief? <small>(Niet verplicht)</small>
                            </h3>
                            {{ form.actief|render_rotterdam_formulier }}
                        </div> {% endcomment %}
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Verantwoordelijke afdeling en personen</legend>
                <div class="container__flex">
                    <div class="hide-label-required-field">
                        {{ form.verantwoordelijke_afdeling|render_rotterdam_formulier }}
                        {{ form.afdelingen|render_rotterdam_formulier }}
                        {{ form.verantwoordelijke_persoon_naam|render_rotterdam_formulier }}
                        {{ form.verantwoordelijke_persoon_personeelsnummer|render_rotterdam_formulier }}
                    </div>
                    <div>&nbsp;</div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Doorlooptijd</legend>
                <div class="container__flex" data-controller="dagen-uren">
                    <div>
                        {{ form.doorlooptijd|render_rotterdam_formulier }}
                        <div class="form-row container__flex">
                            <div>
                                <label>Dagen</label>
                                <input type="number"
                                       name="dagen"
                                       id="id_dagen"
                                       min="0"
                                       step="1"
                                       class="form-control"
                                       data-dagen-uren-target="dagen"
                                       data-action="input->dagen-uren#dagenChangedHandler">
                            </div>
                            <div>
                                <label>Uren</label>
                                <input type="number"
                                       name="uren"
                                       id="id_uren"
                                       min="0"
                                       max="23"
                                       step="1"
                                       class="form-control"
                                       data-dagen-uren-target="uren"
                                       data-action="input->dagen-uren#urenChangedHandler">
                            </div>
                        </div>
                        {{ form.doorlooptijd_alleen_werkdagen|render_rotterdam_formulier }}
                    </div>
                    <div>&nbsp;</div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Wanneer selecteer je dit taaktype?</legend>
                <div class="container__flex container__hideables">
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldWel">
                        <label class="label--positive">Wanneer is de taak relevant?</label>
                        {{ voorbeeldsituatie_wel.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_wel %}
                            {% include "taaktypes/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=True %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small>U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                    <div class="form-row" data-taaktypeformulier-target="voorbeeldNiet">
                        <label class="label--negative">Wanneer hoeft de taak NIET te worden gestart?</label>
                        {{ voorbeeldsituatie_niet.management_form }}
                        {% for voorbeeldsituatie in voorbeeldsituatie_niet %}
                            {% include "taaktypes/taaktype_voorbeeldsituatie_form.html" with count=forloop.counter0|add:1 do=False %}
                        {% endfor %}
                        <button type="button"
                                class="btn btn-textlink"
                                data-action="taaktypeformulier#addExample">
                            + Voeg nog een voorbeeldsituatie toe
                        </button>
                        <small class="margin-bottom">U kunt maximaal 5 voorbeeldsituaties opgeven</small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Gerelateerd aan dit taaktype</legend>
                <div class="container__flex">
                    {{ form.volgende_taaktypes|render_rotterdam_formulier }}
                    {{ form.gerelateerde_onderwerpen|render_rotterdam_formulier }}
                </div>
                <div class="container__flex">
                    {{ form.gerelateerde_taaktypes|render_rotterdam_formulier }}
                    <div>&nbsp;</div>
                </div>
            </fieldset>
            <fieldset class="section">
                <legend>Links</legend>
                {{ links.management_form }}
                <div class="container__hideables">
                    {% for link_form in links.forms %}
                        {% include "taaktypes/taaktype_link_form.html" with count=forloop.counter0|add:1 %}
                    {% endfor %}
                    <button type="button"
                            class="btn btn-textlink"
                            data-action="taaktypeformulier#linkFormulierToevoegen">+ Voeg nog een link toe</button>
                    <small class="margin-bottom">U kunt maximaal 10 links opgeven</small>
                </div>
            </fieldset>
            <div class="form-row container__button">
                <div class="form-row btn-row">
                    <button type="reset"
                            class="btn btn-tertiary"
                            data-controller="utils"
                            data-action="utils#goToUrl"
                            data-utils-url-param="{% url 'taaktype_lijst' %}">
                        <span>Annuleren</span>
                    </button>
                    <button type="submit" class="btn btn-action">
                        <span>Aanpassen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
